on early-init
    start ueventd
on init
    export PATH /sbin
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard
    symlink /system/etc /etc
    mkdir /sdcard
    mkdir /system
    mkdir /data
    mkdir /misc
    mkdir /cache
    mount /tmp /tmp tmpfs
    symlink /misc /etc
on boot
    ifup lo
    hostname localhost
    domainname localdomain
    class_start default
service ueventd /sbin/ueventd
    critical
service recovery /sbin/recovery
service adbd /sbin/adbd recovery
